.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0 0 32px;
  margin: 0;
  border: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label {
  margin-top: 32px;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label:first-of-type {
  margin-top: 0;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 2px;
  border: 1px solid #ccc;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form__label_type_checkbox {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.form__checkbox:checked {
  background-color: #1878dc;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #1878dc;
}

.form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border: 1px solid #838383;
  min-height: 60px;
  padding: 0 15px;
}

.form__button {
  width: 100%;
  height: 60px;
  margin: 0 0 32px;
  background-color: #2f80ed;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  color: white;
}
.form__button:hover {
  opacity: 70%;
}
